@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.cartao-pokemon .tipo{
    font-size: 12px;
}

.cartao-pokemon .cartao-informacoes .status ul li, .cartao-pokemon .cartao-informacoes .habilidades ul li{
    font-size: 15px;
}